# dependencies
node_modules/

# build output
dist/
dist-ssr/
*.tsbuildinfo

# testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
coverage/

# editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store

# env
.env
.env.local
